recursive-include src *template_RS.dcm
recursive-include src *.dcm
recursive-include Images *.png
recursive-include src *.dcm
recursive-include src *.ipynb
recursive-include src *.py
recursive-include src *.txt
