numpy~=1.22.3
matplotlib~=3.5.1
opencv-python>=4.2.0.32
openpyxl
pandas~=1.4.2
Pillow
pydicom~=2.3.0
scikit-image~=0.19.2
scipy
SimpleITK~=2.1.1.2
six
xlrd
check-manifest
tqdm~=4.64.0
pytest
NiftiResampler
PlotScrollNumpyArrays~=0.0.1
setuptools~=62.1.0